// Step 1. load necessary js and css
VisualEvent_Loader.loadFile("http://example.com/somefile.css", "css");
VisualEvent_Loader.loadFile("http://example.com/somefile.js", "js");

// Step 2. Create lib definition, be sure to implement isLoaded and toggle methods
window.<LibObj> = {
    "isLoaded": function(){
        return true;
    },
    "toggle": function() {
        // ...
    }
};
